<!DOCTYPE html>
<html>
<head>
    <title>Quiz Web Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="quiz-title">Quiz Question</h1>
        <p class="question">{{ question['question'] }}</p>
        <form method="post" action="{{ url_for('quiz') }}">
            {% for option in question['options'] %}
                <input type="radio" name="option" value="{{ option }}"> {{ option }}<br>
            {% endfor %}
            <input class="next-button" type="submit" value="Next">
        </form>
    </div>
</body>
</html>

